
<%= form_with(url: prompts_path, method: :get) do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>
<h1>Prompts#index</h1>
<% if @prompts.present?%>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Text</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>

      <% @prompts.each_with_index do |prompt, index| %>
            <% binding.pry %>
        <tr>
          <td><%= index.to_i + 1 %>
          <td><%= prompt.text %></td>
          <td><%= prompt._score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>